
h1 {
    color: black;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
body{
    background-image: url("https://wallpapercave.com/wp/wp3284832.gif");
}

p {
    color: black;
    background-color: white;
    font-family: cursive;
    font-style: unset;
    font-size: 25px;
}
table{
    color: white;
    background-color: black;
    width: 905px;
    height: 200px;
    border-color: black;
    border-width: 1px;
    border: 2px solid;
}
td{
    text-align: center;
    border: 2px solid;
}
img{
    border-width: 1px;
}

li{
    font-size: 25px;
}

a{
    color: white;
}
img{
    border: 2px solid;
    border-color: white;
}
h2 {
    color: white;
}
h3{
    color:white;
}
h4{
    color:white;
    font-size: 25px;
}