* {
    border: 1px solid white;
  }

h1 {
    color: black;
    background-color: white;
}
body{
    background-image: url("https://wallpapercave.com/wp/wp3284832.gif");
}

p {
    color: black;
    background-color: white;
}