* {
    border: 5px solid white;
    
  }

h1 {
    color: black;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
body{
    background-image: url("https://wallpapercave.com/wp/wp3284832.gif");
}

p {
    color: black;
    background-color: white;
    font-family: cursive;
    font-style: unset;
    font-size: 25px;
}
table{
    color: white;
    background-color:black;
    width: 915px;
    height: 200px;
    border-color: black;
    border-width: 1px;
}
td{
    text-align: center;
}
img{
    border-width: 1px;
}

    